<p id="notice"><%= notice %></p>

<p>
  <strong>When:</strong>
  <%= @party.when %>
</p>

<p>
  <strong>Who:</strong>
  <%= @party.who %>
</p>

<p>
  <strong>What:</strong>
  <%= @party.what %>
</p>

<p>
  <strong>Where:</strong>
  <%= @party.where %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @party.phone %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @party.cost %>
</p>

<%= link_to 'Edit', edit_party_path(@party) %> |
<%= link_to 'Back', calendar_path %>
